.header {
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--header-background);
  padding: 20px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
}
